body { background: #a67fb3; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 34px; display: flex; }
.block-helper-0 { color: #ffdb; font-size: 21px; margin-bottom: 5px; }
.block-shipping-1 { color: #6bd5b1; font-size: 14px; margin-bottom: 5px; }
.block-search-2 { color: #b6f12b; font-size: 12px; margin-bottom: 5px; }
.block-session-3 { color: #87ef93; font-size: 12px; margin-bottom: 5px; }
.block-payment-4 { color: #4b64d4; font-size: 17px; margin-bottom: 5px; }